.tabs {
  margin-top: 50px;
  margin-bottom:20px;
}

.tabs .tab {
  background: #c7b299;
  padding: 10px;
  color: #003663;
  font-family: Homenaje;
  font-size: 40px;
}

.tabs .active {
  background: white;
  border: 3px solid #003663;
  border-bottom-width: 0;
}

.content .tab {
  display: none; 
}

.content .active {
  display: block;
}

.content {
  font-family: Patrick Hand SC;
  font-size: 25px;
}